:root {
    --bg-color-1: #041c4a;
    --bg-color-2: #042a6b;
    --header-bg-color: #092b60;
    --border-color-1: #0f3473;
    --border-color-2: #1777b6;
    --border-color-3: #4498d0;
    --hover-color-1: #1a7fc3;
    --box-shadow-color-1: rgb(4 109 179 / 60%);
    --text-color-1: #fff;
}
