.navbar {
    background-color: var(--header-bg-color);
    border-bottom: 2px solid var(--border-color-1);
    display: flex;
    color: #fff;

    // Pretty much all the items in the header are skewd except the clock
    &__item {
        transform: skewX(-25deg);
        P {
            transform: skewX(25deg);
        }
    }

    &__links {
        display: flex;
    }

    // The navbar links are the boxes with the pages names each time we switch a page the color will switch to the new one.
    &__link {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        box-shadow: none;
        transition: all 0.4s;
        border-left: 1px solid var(--border-color-2);

        &:last-child {
            border-right: 1px solid var(--border-color-2);
        }

        &:link,
        &:visited {
            color: #fff;
            text-decoration: none;
        }

        &:hover,
        &:active {
            box-shadow: 0 -5rem 1rem var(--box-shadow-color-1) inset;
        }
    }

    // The header is the name of the app which won't change through out all the pages.
    &__header {
        display: flex;
        align-items: center;
        width: auto;
        padding: 0 3rem 0 3rem;
        border-right: 2px solid var(--border-color-3);
        border-bottom: 2px solid var(--border-color-3);
        box-shadow: -0.6rem -0.6rem 1rem var(--box-shadow-color-1) inset,
            0.5rem 0.5rem 1rem var(--box-shadow-color-1) inset;
        transform: translateX(-0.8rem) skewX(-25deg);
        P {
            transform: translateX(-0.8rem) skewX(25deg);
        }
    }

    // The icons container has the 5 boxes which are skewd and gives a nice vibe of space
    &__icons-container {
        display: flex;
        align-items: end;
        padding-bottom: 0.3rem;
        margin-right: 0.7rem;
        div {
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            transform: translateX(-0.7rem) skewX(-30deg);
            background-color: var(--border-color-2);
            &:not(:last-child) {
                margin-right: 0.3rem;
            }
        }
    }

    // The navbar icon and datetime
    &__time {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 1rem;
        &--icon {
            width: 2rem;
            height: 2rem;
            margin-right: 0.8rem;
            filter: invert(27%) sepia(84%) saturate(1881%) hue-rotate(185deg) brightness(88%) contrast(97%);
        }
        &--datetime {
            font-size: 1.5rem;
        }
    }
}
